
.menu-tt {
    margin: 1em;
    background-color: black;
    padding-right: 100px;
    font-size: large;
}

.menu-tt a{
    margin: 1em;
    font-family: monospace;
    background-color: black;
    color:greenyellow;
    
    
}

.menu-tt span{
    color: greenyellow;
    font-family: monospace;
    border-left: solid greenyellow;
}