


.card-container{color: black;}

.name-pokemon{font-size: large; font-family:Arial, Helvetica, sans-serif;}

.card-weigth{display: flex; padding: 1em;}

.card-ability{display: flex; padding: 1em;}

.card-experience{display: flex; padding: 1em;}

.card-default{box-shadow: 4px 4px 4px rgb(36, 35, 35); border-radius: 14px;}

.card-forms{box-shadow: 4px 4px 4px 4px rgb(36, 35, 35); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }